<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">

    <php>
        <!-- run tests in test environment and use in-memory SQLite DB by default -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0"/>
        <env name="DATABASE_URL" value="sqlite:///:memory:"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_CACHE_DIR" value="/tmp/symfony-test-cache"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

